/* 1367px - 1599px */

@media screen and (max-width: 1599px) {
	.menu {
		padding-left: 0;
	}
	.logo {
		padding-right: 0;
	}
}

/* 1150px - 1366px */

@media screen and (max-width: 1365px) {
	.visible-lg {
		display: none;
	}
	.m-menu-link {
		display: block;
	}
	.logo-menu {
		justify-content: space-between;
	}
	.client {
		font-size: 35px;
	}
	.works_item {
		margin: 5% 5%;
	}
	.works_cont img {
		width: 24.5%;
		padding: 0;
	}
}

/* min-width: 1151px */

@media screen and (min-width: 1151px) {
	.indicator {
		display: none;
	}
}

/* 768px - 1150px */

@media screen and (max-width: 1150px) {
	.header .container {
		height: 75%;
		text-align: center;
	}
	.member {
		width: 50%;
	}
	.img-member {
		width: 75%;
		height: auto;
	}
	.team {
		margin-bottom: 5%;
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    text-align: center;
	}
	.client {
		font-size: 25px;
	}
	.works {
		display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    text-align: center;
	}
	.work_nam {
		width: 50%;
	}
	.works_text {
		margin-bottom: 25%;
	}
	.works_item {
		margin: 5% 5%;
	}
	.works_cont img {
		width: 32.5%;
		padding: 0;
	}
	.social {
		height: 20%;
		margin: 5% 10%;
	}
	.social a {
		transform: scale(3);
		color: black;
	}
	.nav-menu {
		color: grey;
		padding: 3%;
		font-size: 1.25rem;
	}
}

/* 480px - 768px */

@media screen and (max-width: 768px) {
	.visible-lg {
		display: none;
	}
	h2 {
		font-size: 3rem;
	}
	.about_us {
		font-size: 3rem;
	}
	.header {
		height: 100%;
	}
	.header .container {
		height: 80%;
		text-align: center;
	}
	.content {
		display: block;
		text-align: center;
		height: 100%;
		padding-top: 5%;
	}
	.screen {
		width: 70%;
	}
	.skills {
		font-size: 16px;
		list-style-image: none;
		text-align: left;
	}
	.clients {
		display: block;
		text-align: center;
		margin-bottom: 10%;
	}
	.client {
		padding: 5% 0;
		font-size: 2rem;
	}
	.works_item {
		margin: 5% 5%;
	}
	.works_cont img {
		width: 49%;
		padding: 0;
	}
	.head_text_contact {
		font-size: 1.2rem;
		line-height: 1.6;
		text-align: justify;
	}
	.team {
		display: block;
		margin: 12%;
	}
	.member {
		width: 100%;
		margin: 5% 0;
		padding: 5% 0;
	}
	.close-menu {
		right: 3.2rem;
    	top: 1.1rem;
    	padding: 5%;
	}
	.m-menu a {
		padding: 1%;
	}
}

/* 320px - 480px */

@media screen and (max-width: 480px) {
	body {
		background-color: #F2F2F2;
	}
	.container {
		margin: 3% 3%;
		background-color: #fff;
	}
	h2 {
		font-size: 2rem;
	}
	.head_text {
		font-size: 0.9rem;
		line-height: 1.6;
		text-align: justify;
	}
	.header {
		margin-top: -2%;
		margin-bottom: -5%;
		height: 100vh;
	}
	.header .container {
		height: 90%;
		text-align: center;
	}
	.visible-lg {
		display: none;
	}
	.title {
		font-size: 35px;
		padding-top: 35%;
	}
	.title_color {
		font-size: 40px;
		margin: 5% 0;
	}
	.sub_title {
		font-size: 18px;
	}
	.content {
		display: block;
		text-align: center;
	}
	.content .text ul {
		text-align: left;
	}
	.screen {
		width: 70%;
		padding-top: 5%;
	}
	.about_us {
		font-size: 2rem;
	}
	.skills {
		font-size: 15px;
		margin-left: 0;
		line-height: 30px;
		padding-left: 10%;
		list-style-image: none;
	}
	.team {
		display: block;
		margin: 0;
	}
	.member {
		margin: 0;
		width: 100%;
		padding: 10% 0;
	}
	.img-member {
		width: 75%;
	}
	.works {
		display: block;
	}
	.work_nam {
		width: 100%;
		margin: 20% 0;
	}
	.works_name {
		padding: 0;
	}
	.works_text {
		margin-bottom: 10%;
		padding: 5% 0;
	}
	.work_nam img {
		width: 50%;
	}
	.work_nam {
		width: 100%;
		padding: 0;
	}
	.works_item {
		margin: 5% 5%;
	}
	.works_cont img {
		width: 49%;
		padding: 0;
	}
	.clients {
		display: block;
		text-align: center;
		margin-bottom: 10%;
	}
	.client {
		padding: 5% 0;
		font-size: 2rem;
	}
	.social {
		margin: 12% 5%;
		height: 10%;
	}
	.social a {
		transform: scale(2);
		color: black;
	}
	.close-menu {
		right: 1.7rem;
    	top: 0;
    	padding: 5%;
	}
	.m-menu a {
		padding: 3%;
	}
}