@import url('https://fonts.googleapis.com/css?family=Kanit:900');
body{
  background: #ecc
}
h1{
  color: #fff;
  font-family: "Kanit";
  font-size: 60px;
  line-height: 1em;
  margin : 0;
  position: absolute;
  text-align:center;
  top:50%;
  transform: translateY(-50%);
  width: 100%;
  text-shadow: 0 1px 0 #e4adad, 0 2px 0 #e1a6a6, 0 3px 0 #df9e9e, 0 4px 0 #dc9696, 0 5px 0 #da8f8f, 0 6px 0 #d78787, 0 7px 0 #d58080, 0 8px 0 #d27878, 0 0 5px rgba(237, 154, 154, .05), 0 -1px 3px rgba(237,154,154,.2), 0 9px 9px rgba(237,154,154, .5),0 12px 12px rgba(237, 154, 154, .5), 0 15px 15px rgba(237,154,154, .5);
}
@media (max-width: 480px) {
  h1 {
    font-size: 50px;
  }
}