@media (max-width: 1024px) {
	body {
		background: url(unsplash02.jpg) no-repeat 50% 85%;
		background-size: cover;
	}
	.bottom-bar {
		display: none;
	}
	.header {
		top: 55%;
		left: 45%;
	}
	.header h1 {
		font-size: 2rem;
	}
	.social-media {
		left: 2%;
		top: 55%;
	}
	.side-strip {
		top: 55%;
	}
}
@media (max-width: 480px) {
	body {
		background: url(unsplash03.jpg) no-repeat 0% 85%;
	}
	.overlay h1 {
		width: 70%;
		text-align: center;
	}
	.nav ul li {
		padding-right: 20px;
	}
	.header h1 {
		margin-bottom: 2rem;
	}
	.header p {
		margin-bottom: 2rem;
	}
	.side-strip {
		top: 42%;
		right: -20%;
	}
	.social-media {
		left: -3%;
	}
}