@media (max-width: 1024px) {
	.navigation-button {
		right: 50px;
	}
	.hero h1 {
		margin-top: 90px;
	}
	.navigation-menu {
		width: 45%;
	}
	.navigation-menu ul {
		right: 40px;
		top: 5px;
	}
	.navigation-menu.active {
		z-index: 999;
	}
}

@media (max-width: 480px) {
	#logo {
		margin-left: 0;
	}
	span {
		font-size: 50px;
	}
	.hero h1 {
		margin-top: 150px;
	}
	.navigation-menu {
		width: 65%;
	}
	.navigation-menu ul {
		right: 40px;
		top: 20px;
	}
	.navigation-menu.active {
		z-index: 999;
	}
}