html {
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	background: #e64c44;
	color: #fff;
	text-align: center;
}

h1 {
	padding-top: 300px;
	font-size: 50px;
	font-family: Source Sans Pro;
	font-weight: bold;
}

button#change {
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 60px;
	background: #fff;
	color: #e63c44;
	font-family: Source Sans Pro;
	font-weight: bold;
	font-size: 20px;
	border: 0px;
	cursor: pointer;
}

body, button:change {
	transition: all 0.4s ease-in-out;
}

@media screen and (max-width: 768px) {
	h1 {
		padding-top: 100px;
	}
}

@media screen and (max-width: 480px) {
	h1 {
		padding-top: 200px;
	}
}